# Fichiers de base de données
*.sqlite3
db.sqlite3

# Fichiers de cache
__pycache__/
*.pyc

# Environnements virtuels
venv/
env/

# Fichiers de secrets et de configuration locale
.env
local_settings.py

# Fichiers de logs
*.log

# Fichiers statiques collectés
staticfiles/